body,
section {
  background: #161823 !important;
  overflow-x: hidden;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #161823;
}

.layout {
  background-color: #161823;
}

.logo {
  margin: 25px 0;
}

.logo-f {
  font-size: 18px;
  color: aliceblue;
  padding-left: 10px;
}

.analysis-box {
  width: 100%;
  background: #0e0f1a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc {
  font-size: 18px;
  color: aliceblue;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: #fff 1px 1px 1px;
  color: #000;
}

.download-url {
  text-align: center;
}

video {
  width: 100%;
  height: 600px;
  border: none;
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img//guide.png");
}

@media screen and (max-width: 768px) {
  .logo-center {
    width: 200px;
    margin: 0 auto;
  }
}